header.c-header
	h2.title Universidad Loyola de Bolivia
	ul
		li
			a(href="/home") Inicio
		li
			a(href="/carreras") Carreras
		li
			a(href="/materias") Materias
		li
			a(href="/docentes") Docentes
		li
			a(href="/alumnos") Alumnos
