doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="{{url_for('static', filename='css/style.css')}}")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,900&family=Source+Serif+Pro:wght@900&display=swap")

        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Universidad Loyola de Bolivia
        //- Definicion de variables
        block variables

    body
        include header
        block content
        //- .g-container
            .c-block-3 

                .c-block-3__item Item 2
                .c-block-3__item Item 3
                .c-block-3__item Item 4


        block footer