extends includes/layout
block content
	.c-list-db
		h2.title-db Materias que tiene: {{materias[0][0]}}
		.c-list-data
			include includes/list-matters.html
		
		h2.title-db Alumnos inscritos en: {{materias[0][0]}}
		.c-list-alumnos
			h2 Nombres
			h2 Apellidos
			h2 Código
			h2 Fecha de Inscripción
			h2 Celular
			h2 Fecha de Nacimiento
			include includes/list-alumnos.html
