extends includes/layout
block content
	.c-list-db
		h2.title-db Listado de docentes 
		.c-list-docentes
			h2 Nombre del Docente
			h2 Código
			h2 Especialidad
			h2 Sueldo
			include includes/list-docentes.html
