{% with messages = get_flashed_messages() %}
{%if messages%}
{%for message in messages%}
    <p>{{message}}</p>
{%endfor%}
{%endif%}
{%endwith%}


<h1>Crear usuario de alumno en Universidad Loyola de Bolivia</h1>
<form action="/add" method="POST">
    <input type="text" name="fullname" placeholder="Nombre Completo">
    <input type="text" name="code" placeholder="Codigo">
    <input type="text" name="carrera" placeholder="Carrera">
    <label>Fecha de nacimiento</label>
    <input type="date" name="birthdate">
    <button type="submit">Crear usuario</button>
</form>