

<h3>Bienvenido {{alumnos[0][1]}} usted ha iniciado sesion con codigo de alumno {{alumnos[0][2]}}</h3>
<table border="2px">
    <thead>
        <tr>
            <td>Nombre Completo</td>
            <td>Codigo</td>
            <td>Carrera</td>
            <td>Fecha de nacimiento</td>
        </tr>
    </thead>
    <tbody>
        {%for contact in alumnos%}
            <tr>
                <td>{{contact.1}}</td>
                <td>{{contact.2}}</td>
                <td>{{contact.3}}</td>
                <td>{{contact.4}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>