<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,900&amp;family=Source+Serif+Pro:wght@900&amp;display=swap">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Universidad Loyola de Bolivia</title>
  </head>
  <body>
    <header class="c-header">
      <h2 class="title">Universidad Loyola de Bolivia</h2>
      <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/carreras">Carreras</a></li>
        <li><a href="/materias">Materias</a></li>
        <li><a href="/docentes">Docentes</a></li>
        <li><a href="/alumnos">Alumnos</a></li>
      </ul>
    </header>
    <div class="c-list-db">
      <h2 class="title-db">Listado de carreras </h2>
      <div class="c-list-data">
        <h2>Carrera</h2>
        <h2>Jefe de Carrera</h2>
        <h2>Duración</h2>{% for carrera in carreras %}
<p><a href="carreras/{{carrera[0]}}">{{ carrera[1] }}</a></p>
<p>{{ carrera[2] }}</p>
<p>{{ carrera[3] }} Semestres</p>
{% endfor %}

      </div>
    </div>
  </body>
</html>